{
    "proseWrap": "always",
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
