.nav-width {
    width: 350px;
    min-width: 250px;
}

.nav-offset {
    margin: 0 auto;
}

@media (max-width: 1850px) {
    .nav-offset {
        margin: 0 auto 0 350px;
    }
}

@media (max-width: 990px) {
    .nav-width {
        width: 250px;
    }

    .nav-offset {
        margin: 0 auto 0 250px;
    }
}

@media (max-width: 768px) {
    .nav-width {
        width: 100%;
    }

    .nav-offset {
        margin: 0 auto;
    }
}
