.table {
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 2rem;
    width: 100%;
}

.table tr {
    border-bottom: 1px solid #ddd;
}

.table th {
    text-transform: uppercase;
    font-size: 11px;
    text-align: left;
    color: #767676;
}

.table td,
.table th {
    padding: 10px 16px;
    vertical-align: top;
}

/** monospace fonts for all columns except the description column */
.table td:not(:last-child) {
    font-family: "Monaco", "Ubuntu Mono", "Consolas", monospace;
}

/** links to types should keep their colors */
.table td:not(:last-child) a {
    color: inherit;
}

/** no bottom margin for the last paragraph in the cell */
.table td p:last-child {
    margin-bottom: 0;
}

.name {
    color: rgb(0, 0, 159);
}

.value {
    color: rgb(227, 17, 108);
}

.type {
    color: rgb(54, 172, 170);
}
